[Unit]
Description=Thola
After=network-online.target

[Service]
User=thola
Group=thola
ExecStart=/usr/local/bin/thola api
Restart=on-failure

[Install]
WantedBy=multi-user.target