name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  fmt:
    name: fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: check
        uses: grandcolline/golang-github-actions@v1.1.0
        with:
          run: fmt
          token: ${{ secrets.GITHUB_TOKEN }}

  vet:
    name: vet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Generate configs
        run: go generate
      - name: check
        uses: grandcolline/golang-github-actions@v1.1.0
        with:
          run: vet
          token: ${{ secrets.GITHUB_TOKEN }}
